
.disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
button {
    background-color: #428bca;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
body {
    background-color:sienna;
}
table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    align-content: center;
    background-color: darkred;
    border: thick;
    border-color: black;
    flex-wrap: wrap;
    color: white;
}

td {
    border: 1px solid #333333;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

.titre {
    font-weight: bold;
}
.Button {
    align-content: center;
    align-items: center;
    justify-content: center;
}
.containerplayer {
    border-radius:40%;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: darkslategrey;
    border: thick;
    border-color: black;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

.pot {
    text-align: center;
    font-size:300%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}
.vide {
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap;     
    width: 18%;
    height: 30%;
}
.player {
    border: 1px solid black;
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap;
    width: 18%;
    height: 30%;
}

.name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
}
.chips {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
}

.action {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
}
div {
    text-align: center;
    display: flex;
}    

.bet {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
}

.image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.cards {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    overflow: hidden;
    align-items: baseline;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 90px;
}
.s {
    
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: black;
}

.h {
    
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: red;
}

.d {
    
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: blue;
}

.c {
    
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: green;
}
