
.disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
.correct {
    background-color: green;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #555;
    }



.incorrect {
    background-color: red;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown span {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: transparent;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.dropdown:hover span {
    background-color: transparent;
}
.hand {
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .dropdown {
        display: block;
        margin-bottom: 10px;
    }

    .dropdown span {
        border-radius: 5px;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }
}

button {
    background-color: #428bca;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.page {
    display: flex;
    flex-direction: column;
}

body {
    background-color:slategrey;
}
table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    align-content: center;
    background-color:blanchedalmond;
    border: thick;
    border-color: black;
    flex-wrap: wrap;
    color: black;
}

td {
    border: 1px solid #333333;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

.titre {
    font-weight: bold;
}
.Button {
    position: fixed;
    top: 20px;
    left: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.Button1 {
    position: fixed;
    top: 20px;
    right: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    z-index: 2;
}

    .Button1:hover {
        background-color: #555555;
    }

.containerplayer {
    border-radius:40%;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: darkslategrey;
    border: thick;
    border-color: black;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

.pot {
    text-align: center;
    font-size:300%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}
.vide {
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap;     
    width: 18%;
    height: 30%;
}
.player {
    border: 1px solid black;
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap;
    width: 18%;
    height: 30%;
    
}

.namefold {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
}
.name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.chips {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 45px;
    width: 100%;
    height: 60px;
}

.action {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
    
}
div {
    text-align: center;
    display: flex;
}

.bet {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
    
}

.image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    
}

.cards {
    border: 0px;
    margin: 0px;
    padding: 0px;
    
    display: flex;
    overflow: hidden;
    align-items: baseline;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 90px;
    background-color: white;
    
}
.s {
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: black;
}

.h {
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: red;
}

.d {
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: blue;
}

.c {
    align-items: center;
    background-color: white;
    height: 100%;
    width: 15%;
    color: green;
}


.chips_white {
    font-size: 50px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: white;
}
    
.chips_red {
    font-size: 50px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: red;
}

.chips_purple {
    font-size: 50px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: purple;
}

.chips_green {
    font-size: 50px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: green;
}
    
.chips_black {
    font-size: 50px;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: black;
}

    .chips_white::after,
    .chips_red::after,
    .chips_green::after,
    .chips_black::after {
        content: attr(data-tooltip); 
        position: fixed;
        top: 30px; 
        left: 50%; 
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .chips_white:hover::after,
    .chips_red:hover::after,
    .chips_green:hover::after,
    .chips_black:hover::after {
        opacity: 1;
    }