* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}
caption {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    input[type="submit"]:hover {
        background-color: #3e8e41;
    }

p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

span {
    color: #4CAF50;
    font-weight: normal;
}
