
.disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
button {
    background-color: #428bca;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
body {
    background-color:sienna;
}
.Button {
    align-content: flex-start;
}
.containerplayer {
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: darkslategrey;
    border: thick;
    border-color: black;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
}

.pot {
    text-align: center;
    font-size:300%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}
.vide {
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap; 
    width: 18%;
    height: 30%;
}
.player {
    border: 1px solid black;
    margin: 0px;
    justify-content: center;
    flex-wrap: wrap;
    width: 18%;
    height: 30%;
}

.name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
}



.chips {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
    width: 100%;
    height: 30px;
}

.action {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
}
div {
    text-align: center;
    display: flex;
}    

.bet {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50%;
    height: 30px;
}

.image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.cards {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 100px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.s {
    align-items: center;
    height: 95%;
    background-color: white;
    color: black;
}

.h {
    align-items: center;
    height: 95%;
    background-color: white;
    color: red;
}

.d {
    align-items: center;
    height: 95%;
    background-color: white;
    color: blue;
}

.c {
    align-items: center;
    height: 95%;
    background-color: white;
    color: green;
}
