body {
    background-color:rgb(100, 100, 100);
    
}
.disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}
.Button {
    position: fixed;
    top: 50px;
    left: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.layout {
    display: flex;
    flex-direction: row;
}
.Button2 {
    position: fixed;
    top: 100px;
    left: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.Button1 {
    position: fixed;
    top: 50px;
    right: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    z-index: 4;
}

    .Button1:hover {
        background-color: #555555;
    }


.square-box {
    
    margin: auto;
    position: absolute;
    width: 45%;
    height: 45%;
    overflow: hidden;
    background: #4679BD;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 150px;
    border: 10px solid black;
    z-index: 0;
}

    .square-box:before {
        content: "";
        display: block;
        width: 100%;
        height: 40%;
    }
button {
    background-color: #428bca;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.square-content {
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 20px;
    color: white;
    width: 25%;
    height: 25%;
    z-index: 3;
}

    .square-content div {
        display: table-column;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .square-content span {
        
        display: table-row;
        text-align: center;
        font-size: 10px;
        vertical-align: middle;
        color: white;
        z-index: 2;
    }

.players {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%; 
    top: 25%; 
    margin: auto;
}

    .players .player {
        position: absolute;
    }

        .players .player.player-1 {
            top: 0px;
            left: 50%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-2 {
            top: 0px;
            right: 10%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-3 {
            top: 45%;
            right: -5%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-4 {
            top: 88%;
            right: 10%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-5 {
            top: 88%;
            left: 50%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-6 {
            top: 88%;
            left: 20%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-7 {
            top: 45%;
            left: 5%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player.player-8 {
            top: 0%;
            left: 20%;
            -webkit-transform: translatex(-50%) translatey(-50%);
            transform: translatex(-50%) translatey(-50%);
        }

        .players .player .avatar {
            width: 5vw;
            height: 5vw;
            background-color: lightcoral;
            border-radius: 100%;
            position: relative;
            top: 20px;
            z-index: 102;
            display: flex;
            
        }

.card_bottom {
    z-index: 102;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 9vw;
    font-weight: 400;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: -200px;
}
.card_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 9vw;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    right: 20%;
    transform: translateX(-50%);
}
.card_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 9vw;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    left: 250%;
    transform: translateX(-50%);
}
.card_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 9vw;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.s {
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}

.h {
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

.d {
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: blue;
    margin-top: -10px;
    margin-bottom: 10px;
}

.c {
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: lightgreen;
    margin-top: -10px;
    margin-bottom: 10px;
}
.r {
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: white;
    margin-top: -10px;
    margin-bottom: 10px;
}



#main {
    position: absolute;
    width: 80%;
    height: 50%;
    overflow: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 2%;
}




.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    color: #FFF;
    font-size: 2vw;
}

.name {
    z-index: 102;
    font-size: 50%;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px; 
    padding: 0; 
}

.chips {
    z-index: 102;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: -10px; 
    padding: -10px; 
}
.bet_bottom {
    z-index: 102;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 60%;
    left:40%;
    padding-top: -200px;
}
.bet_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    left: 220%;
    transform: translateX(-50%);
}

.bet_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    left: 60%;
    
    transform: translateX(-50%); 
}

.bet_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    z-index: 101;
    position: absolute;
    
    top: 60%;
    left: 40%;
    
}

table {
    position: absolute;
    width: 50%;
    top: 120%;
    
    border-collapse: collapse;
    background-color: darkgrey;
    border: thick;
    border-color: black;
    color: black;
}
.table_low {
    left: 52%;
    position: absolute;
    width: 50%;
    top: 120%;
    border-collapse: collapse;
    background-color: darkgrey;
    border: thick;
    border-color: black;
    color: black;
}
.table_high {
    left: 0;
    position: absolute;
    width: 50%;
    top: 120%;
    border-collapse: collapse;
    background-color: darkgrey;
    border: thick;
    border-color: black;
    color: black;
}
.cards {
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow: hidden;
    align-items: baseline;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 100px;
    background-color: white;
    margin-bottom:10px
}
.chips_white {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: grey;
}
.chips_blue {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: blue;
}
.chips_red {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: red;
}

.chips_purple {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: purple;
}

.chips_green {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: green;
}

.chips_black {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: black;
}
.chips_yellow {
    font-size: 2vw;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color: yellow;
}
    .chips_yellow::after,
    .chips_blue::after,
    .chips_white::after,
    .chips_purple::after,
    .chips_red::after,
    .chips_green::after,
    .chips_black::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9999;
    }
        .chips_yellow:hover::after,
        .chips_blue:hover::after
        .chips_white:hover::after,
        .chips_purple:hover::after,
        .chips_red:hover::after,
        .chips_green:hover::after,
        .chips_black:hover::after {
            opacity: 100%   ;
        }

/* CSS for the display of tables side by side */
.page {
    display: flex;
    flex-direction: column;
}

.table_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.table_container {
    flex: 1;
}