body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.Button1 {
    position: fixed;
    top: 20px;
    right: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
    .Button1:hover {
        background-color: #555555;
    }
header {
    background-color: #0074D9;
    color: #FFFFFF;
    padding: 10px;
}

h1 {
    margin: 0;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #0074D9;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }
}
.mean {
    font-weight: bold;
    color: black;
}
.s {

    color: black;
}
.h {

    color: red;
}
.d {

    color: blue;
}
.c {

    color: green;
}