<!DOCTYPE html>
<html>
<head>
    <title>7 Stud Hi-Lo</title>
</head>
<body>
    <form action="/phase3" method="GET">
        <input type="submit" value="Third Street">
    </form>
    <form action="/phase4" method="GET">
        <input type="submit" value="Fourth Street">
    </form>
    <form action="/phase5" method="GET">
        <input type="submit" value="Fifth Street">
    </form>
    <form action="/phase6" method="GET">
        <input type="submit" value="Sixth Street">
    </form>
    <form action="/phase7" method="GET">
        <input type="submit" value="Seventh Street">
    </form>
    <form action="/Summary" method="GET">
        <input type="submit" value="Summary">
    </form>
</body>
</html>