<!DOCTYPE html>
<html>
<head>
    <title>7 Stud Hi-Lo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Phase3.css') }}">
    
</head>
<body>
    <h1>3rd Street</h1>
    <table>
        <caption>First Round</caption>
        <thead>

            <tr>
                <th>Name</th>
                <th>Cards</th>
                <th>Actions</th>
                <th>Total Chips</th>
                <th>Chips on the table</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <p>Pot: <span id="pot1"></span></p>
    <p>Rake: <span id="rake1"></span></p>
    <table>
        <caption>Second Round</caption>
        <thead>

            <tr>
                <th>Name</th>
                <th>Cards</th>
                <th>Actions</th>
                <th>Total Chips</th>
                <th>Chips on the table</th>
            </tr>
        </thead>
        <tbody id="table1-body"></tbody>
    </table>
    <p>Pot: <span id="pot2"></span></p>
    <p>Rake: <span id="rake2"></span></p>

    <form action="/phase3" method="GET">
        <input type="submit" value="Third Street">
    </form>
    <form action="/phase4" method="GET">
        <input type="submit" value="Fourth Street">
    </form>
    <form action="/phase5" method="GET">
        <input type="submit" value="Fifth Street">
    </form>
    <form action="/phase6" method="GET">
        <input type="submit" value="Sixth Street">
    </form>
    <form action="/phase7" method="GET">
        <input type="submit" value="Seventh Street">
    </form>
    <form action="/Summary" method="GET">
        <input type="submit" value="Summary">
    </form>
    <script src="{{ url_for('serve_js') }}"></script>
    <script>
        var tableJson = '{{ Table_json|safe }}';
        updateTable(tableJson,'table-body','pot1', 'rake1');
        var tableJson1 = '{{ Table1_json|safe }}';
        updateTable(tableJson1, 'table1-body', 'pot2', 'rake2');
    </script>
</body>
</html>